/* Fonts */
@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-VariableFont_wght.ttf');
    font-variation-settings: "wght" 375;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit-VariableFont_wght.ttf');
    font-variation-settings: "wght" 375;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}

:root {
    --background-color: #1E1E1E;
    --background-color-trans: transparent; 
    --text-color: #FFF;
    --lowkey-accent-color: #FFF;
    --hella-lowkey-accent-color: #FFF;
    --super-hella-lac: #FFF;
    --highlight-color: #DB00FF;
    --alt-color: #000AFF;
    --highlightER-color: #dab46e13;
    --title-fontsize: calc(1.2rem + 0.5vw);
    --nav-fontsize: calc(0.7rem + 1.3vw);
    --p-fontsize: calc(0.6rem + 0.3vw);
    --h3-fontsize: calc(0.3rem + 0.5vw);
    --cycle-fontsize: calc(0.6rem + 1.0vw);
}

/* Force 'html' to be viewport width */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'Outfit'; 
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
    
}
a {
    text-decoration: none;
    color: var(--hella-lowkey-accent-color);
    
}
.canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    opacity: 0;
    transition: opacity 1s ease-in;
    
    background-size: cover;
    background-image: rgba(0, 0, 0, 0);
    overflow: auto;
}



/* Banner */
.banner {
    position: absolute;
    margin: 0;
    top: 0;
    width: 100%;
    color: black;
    background-image: linear-gradient(to right, #000AFF, #DB00FF);
    width: 100%;
    text-align: center;
    padding: 1vmin;
    font-size: 2.5vmin;
    font-variation-settings: "wght" 300;
    font-family: 'Outfit';
    
}
.banner em {
    font-style: normal;
    font-variation-settings: "wght" 500;
}


.nav {
    line-height: calc(2rem + var(--nav-fontsize));
    font-size: var(--nav-fontsize);
    font-variation-settings: "wght" 400;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    color: var(--text-color);
    margin-top: 5vh;
    text-indent: 60px;
}

.nav-item .underlined {
    position: relative;
    display: inline-block;
}

.nav-item .underlined::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, #000AFF, #DB00FF);
}

a.underlined, span.underlined {
    transition: color 0.1s ease-in-out;
}

a.underlined:hover, a:hover span.underlined {
    color: var(--text-color);
}

@media only screen and (max-width: 600px) {
    .nav {
        font-size: calc(1.5 * var(--nav-fontsize));
    }
}

@media only screen and (max-width: 600px) {
    .nav {
        font-size: calc(1.5 * var(--nav-fontsize));
    }
}






.header {
    margin: 0%;
    box-sizing: border-box;
    height: 100vh;
}

.header::before,
.header::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-clip: padding-box; 
    box-sizing: border-box; 
}

.header::before {
    top: 80px;
    left: 10%;
    border-width: 25px;
    border-style: solid;
    height: 150px;
    width: 150px;
    border-image: linear-gradient(to bottom right, #000AFF, #DB00FF 50%, transparent 50%) 1; 
    padding: 130px;
}
.header::after {
    bottom: 80px;
    right: 10%;
    border-width: 25px;
    border-style: solid;
    height: 150px;
    width: 150px;
    border-image: linear-gradient(to top left,  #000AFF, #DB00FF 50%, transparent 50%) 1;
    padding: 130px;

}

@media only screen and (max-width: 600px){
    .header::before{
        top: 0;
        left: 0;
    }
    .header::after{
        bottom: 0;
        right: 0;
    }
}

.vi::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 164px;
    top: 44.2%;
    left: 18.8%;
    width: 2px; 
    background: linear-gradient(to top, #000AFF, #DB00FF); 
    animation: fadeIn 3s;

}

.title {
    top: 27%;
    left: 18.4%;
    font-size: var(--title-fontsize);
    line-height: calc(2rem + var(--title-fontsize));
    font-variation-settings: "wght" 400;
    white-space: nowrap;
    display: inline-block;
    color: #FFF;
    background-color: var(--background-color-trans);
    font-family: 'Outfit';
    letter-spacing: 3px;
    line-height: 80px;
    background-image: linear-gradient(to right, #000AFF, #DB00FF);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: 400;
    position:absolute;
    animation: fadeIn 3s;
    
    
    
    
    
}
.title h1 {
    margin: 0;
}

.title h1 span:first-child {
    
    font-variation-settings: "wght" 400;
}


@media only screen and (max-width: 600px) {
    .title {
        font-size: calc(var(--title-fontsize)-100px);
        line-height: calc(2rem + 1.5 * var(--title-fontsize));
        border: 1px solid red;
        top: 70px;
    }

    .title h1 {
        display: inline-flex;
        flex-direction: column;
    }

    .title h1 span:first-child {
        font-variation-settings: "wght" 350;
    }
}






.intro {
    top: 42%;
    left: 20%;
    font-size: var(--p-fontsize);
    font-variation-settings: "wght" 350;
    background-color: var(--background-color-trans);
    padding: 0 2vw 0 0;
    font-family: 'Outfit';
    margin-right: 45%;
    position: absolute;
    animation: fadeIn 3s;
    display: inline-block;
    line-height: 20px;
    
    
    
    
 }


.intro h2 {
    margin: 1vh 0;
    background-color: var(--background-color-trans);
    line-height: 35px;

       
}

.intro h3{
    font-size: var(--h3-fontsize);
    
    margin-top: -5px;

}

.intro em {
    font-style: normal;
    font-size: var(--p-fontsize);
    font-family: 'Outfit';
    background-color: var(--background-color-trans);
    font-variation-settings: "wght" 500;
}



@media only screen and (max-width: 600px) {
    .intro {
        white-space: normal;
        font-size: calc(1.5 * var(--p-fontsize));
    }
}

 /* Intro Cycle */

 span#cycle {
    color: #FFF;
    transition: transform 0.15s ease-in-out;
    display: inline-block;
    border-radius: 0.3vmax;
    background-image: linear-gradient(to right,#000AFF, #DB00FF);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: 'Outfit';
    font-size: var(--cycle-fontsize);
    font-variation-settings: "wght" 600;
    
}

.projects-header {
font-size: calc( var(--title-fontsize) * 2.55);
margin-bottom: 0;


}

.projects-list {
margin-left: 0;
padding-left: 0;


}

.projects-list li, .projects-list a {
font-size: calc(0.85 * var(--h3-fontsize));



}

@media only screen and (max-width: 600px) {
#projects-header {
    font-size: calc( var(--cycle-fontsize) * 1.45);
    border: 1px solid green;    

}

.projects-list li, .projects-list a {
    font-size: calc(1.25 * var(--p-fontsize));
    animation: fadeIn 0.5s ease-in-out;
    
    
}
}




@media only screen and (max-width: 600px) {
    .repolist, .scroll {
        width: 75vw;
    
        margin: 0 7.5vw 0 17.5vw;
    
        transition: margin 0.05s ease-out;
        border: 1px solid orange;
        
    }
}


.scroll{
    font-variation-settings: "wght" 350;
    background-color: var(--background-color-trans);
    white-space: nowrap;
    display: inline-block;
    line-height: 50px;
    top: 66%;
    left: 55%;
    flex-basis: 60%;
    /*margin-left: 50px;*/
    margin-left: 15.7%;
    margin-right: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding-bottom: 500px;
    margin-bottom: 50%;
    animation: fadeIn 3s;
    
}



.repolist{
    font-variation-settings: "wght" 350;
    background-color: var(--background-color-trans);
    white-space: nowrap;
    display: inline-block;
    line-height: 48px;
    top: 51%;
    flex-basis: 60%;
    margin-left: 15.7%;
    margin-right: 50%;
    position: absolute;
    left: 52.5%;
    transform: translate(-50%, -50%);
    text-align: left;
    animation: fadeIn 3s;
    font-size: var(--h3-fontsize);
}

.repolist li {
    display: block; /* This makes the element occupy the full width and starts on a new line */
}

.repolist li span {
    position: relative;
    display: inline;
}

.repolist li span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right,#000AFF, #DB00FF);
}



.repo{
    background-image: linear-gradient(to right, #000AFF, #DB00FF);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: var(--title-fontsize);
}

.scroll::before,
.scroll::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-clip: padding-box; 
    box-sizing: border-box; 
}

.scroll::before {
    top: 90px;
    left: 3px;
    border-width: 3px;
    border-style: solid;
    height: 100px;
    width: 100px;
    border-image: linear-gradient(to bottom right, #000AFF, #DB00FF 50%, transparent 50%) 1; 
    
}

div.footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 2vh;
}

footer {
    width: 100vw;
    text-align: center;
    font-size: calc(0.8 * var(--p-fontsize));
    animation: fadeIn 3s;
    
}

@media only screen and (max-height: 400px) {
    .footer {
        display: none;
        text-align: center;
        font-size: calc(1.25 * var(--p-fontsize));
        

    }

    .scroll {
        display: none;
    }
}

footer p {
    margin: 0;
}
    /* Footer Icons */
    .icons {
        justify-content: center;
        gap: 2vw;
        text-align: center;
    }

    .icons img {
        width: 2vw;
        background-color: var(--text-color);
        transition: background-color-trans 0.1s;
        border-radius: 1vmax;
        padding: 0.1vw;
        animation: fadeIn 3s;
        
        
        

    }

    .icons img:hover {
        background-color: var(--lowkey-accent-color);
    }

    @media only screen and (max-width: 600px) {
        .icons img {
            width: 7vw;
        }
    }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }


/* CSS for fade-in effect */

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

/* Simple classes */
.hidden,
.hidden * {
    display: none !important;
}
/*
.underlined {
    text-decoration: underline;
}
*/






